.button {
  margin: 0;
  padding: 0;
  min-height: 48px;
  width: 335px;
  background: linear-gradient(91.33deg, #89A3FF 0%, #FF6060 54.17%, #FFBF00 100%);
  mix-blend-mode: normal;
  box-shadow: 0px 13.2985px 26.5969px rgba(255, 0, 63, 0.2);
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  letter-spacing: 0.02em;
  color: #151A22;
  border: none;
  &:hover {
    transform: scale(1.05);
  }
}

.button_border {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: inherit;
  color: #FFF;
}


@media screen and (max-width: 890px) {
  .button {
    height: 56px;
  }
}

@media screen and (max-width: 675px) {

}

@media screen and (max-width: 600px) {
  .button {
    width: 288px;
  }
}