.card {
    position: relative;
    box-sizing: border-box;
    min-width: 337px;
    padding: 63px 33px 26px;
    background: rgba(51, 59, 74, 0.2);
    border-radius: 4px;
    margin-right: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:last-child {
        margin-right: 0;
    }
}

.card__discount {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: none;
    height: 38px;
    width: 98px;
    position: absolute;
    top: -6px;
    left: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__name {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 68px;
    margin-top: 0;
}

.card__discountText {
    margin: 0;
}

.card__prices {

}
.card__price {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.02em;
    margin: 0;
}

.card__oldPrice {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.02em;
    text-decoration: line-through;
    color: #C0C3CD;
    opacity: 0.5;
    margin: 0;
}

.card__info {

}

.card__description {

}

.card__details {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #FFF;
    opacity: 0.5;
    margin: 0;
}