.page {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #151A22;
    padding: 0 303px 59px;
    &::before {
      content: '';
      top: 0;
      left: 0;
      background-image: url('./images/BG.png');
      width: 100%;
      z-index: 2;
    }
  }

@media screen and (max-width: 870px) {
  .page {
    padding: 0 16px 130px;
    }
}
